<!doctype html>
<html lang='en'>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1">
<style>
/* Style The Body */
body {
	font-family: Courier New;
	margin: 0;
}

/* Header/Logo Title */
.header{
	padding: 20px;
	text-align: left;
	background: #FFFFFF;
	color: black;
	font-size: 20px;
	font-weight: 1000;
}
/* Page Content */
.content{padding:10px;}
</style>
</head>
<body>

<div class="header">
	<img src="/home/flop2106/Desktop/Trading_Analysis/flask_trial/logo/img.png" alt="LAZADA VS SHOPEE" style="width:100px;height:70px;">
	<p>LAZADA ke SHOPEE</p>
	</div>

<div class="content">

	<h1>Content</h1>
	<p>Bababa Babanana, Bababa Babanana
	</p>
</div>

</body>
</html>
	
		
